.secrets/*
!.secrets/db_password.example
!.secrets/db_user.example
!.secrets/README.md

.vscode/

conf/*
!conf/odoo.conf.example
!conf/README.md

git/*
!git/README.md

odoo-base/*
!odoo-base/README.md

scripts/*
!scripts/backupdata.sh.example
!scripts/change_mode_to_git.sh
!scripts/git_addons_updater.sh
!scripts/git_odoo-base_updater.sh
!scripts/README.md
!scripts/restore-snapshot.sh
!scripts/snapshot.sh.example

.env

crontab
requirements.txt

**.tar**