.secrets/*
!.secrets/db_password.example
!.secrets/db_user.example
!.secrets/README.md

.vscode/

conf/*
!conf/odoo.conf.example
!conf/README.md

git/*
!git/README.md

odoo-base/*
!odoo-base/README.md

requirements.txt
.env
