# ctrl + F to find which line should you edit

version: "0.0.1"

services:
  # Enter the correct the service name, you can use company name (example: sudoerp)
  enter_the_correct_service_name:
    # Enter the correct image name below (format: username/repo:tag, example: odoo:16.0)
    image: username/repo:tag
    # Because we use host network, the port opened by your container will be automatically opened.
    # Please make sure there are no ports collide. (sudo netstat -tulpn)
    # Set the ports below the same as you have set in your .env file.
    #ports:
    #  - "9000:8069"
    #  - "19001:8072"
    network_mode: "host"
    volumes:
     - ./datadir:/opt/odoo/datadir
     - ./log:/var/log/odoo
    environment:
     - PORT
     - GEVENT_PORT
     - WORKERS
     - MAX_CRON_THREADS
     - LIMIT_MEMORY_SOFT
     - LIMIT_MEMORY_HARD
     - LIMIT_TIME_CPU
     - LIMIT_TIME_REAL
     - LIMIT_TIME_REAL_CRON
     - LIMIT_REQUEST
     - TRANSIENT_AGE_LIMIT
     - DATA_DIR
     - DB_USER
     - DB_NAME
     - DB_HOST
     - DB_PORT
     - DB_MAXCONN
    env_file:
      - .env
    secrets:
      - db_password
    restart: always

secrets:
  db_password:
    file: .secrets/db_password
