# press ctrl + f and search "enter" string to find which value should you change.

services:
  odoo:
    image: ${ODOO_IMAGE_NAME:-$SERVICE_NAME:latest}

    build:
      context: .
      dockerfile: dockerfile
      args:
        - APT_ADDITIONAL_PACKAGES=${APT_ADDITIONAL_PACKAGES}
        - FAKETIME=${FAKETIME}
        - INSTALL_LIBREOFFICE=${INSTALL_LIBREOFFICE}
        - PYTHON_VERSION=${PYTHON_VERSION:-3.10-bookworm}
        - POSTGRESQL_VERSION=${POSTGRESQL_VERSION}
        - VSCODE_DIRECT_DOWNLOAD_URL=${VSCODE_DIRECT_DOWNLOAD_URL}
        - WKHTMLTOPDF_DIRECT_DOWNLOAD_URL=${WKHTMLTOPDF_DIRECT_DOWNLOAD_URL}
        - APT_RESOURCE_URL=${APT_RESOURCE_URL}
      # Add labels to connect to github repository (enter github)
      labels:
        - org.opencontainers.image.source=${ODOO_IMAGE_SOURCE:-"no source"}
    # Because we use host network, the port opened by your container will be automatically opened.
    # Please make sure there are no ports collide. (sudo netstat -tulpn)
    # Set the ports below the same as you have set in your .env file.
    #ports:
    #  - "9000:8069"
    #  - "19001:8072"
    network_mode: "host"
    entrypoint: [ "/opt/odoo/entrypoint.sh" ]
    volumes:
     - ${ODOO_DATADIR_SERVICE}:${ODOO_DATADIR_SERVICE}
     - ${ODOO_LOG_DIR_SERVICE}:${ODOO_LOG_DIR_SERVICE}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - APT_ADDITIONAL_PACKAGES
      - DB_HOST
      - DB_MAXCONN
      - DB_NAME
      - DB_PORT
      - DEBUG
      - FAKETIME
      - GEVENT_PORT
      - INSTALL_LIBREOFFICE
      - LIMIT_MEMORY_HARD
      - LIMIT_MEMORY_SOFT
      - LIMIT_REQUEST
      - LIMIT_TIME_CPU
      - LIMIT_TIME_REAL
      - LIMIT_TIME_REAL_CRON
      - MAX_CRON_THREADS
      - ODOO_DATABASE_MANAGER
      - ODOO_DATADIR_SERVICE
      - ODOO_IMAGE_NAME
      - ODOO_IMAGE_SOURCE
      - ODOO_LOG_DIR_SERVICE
      - ODOO_UPGRADE_MODULE
      - ODOO_VERSION
      - PORT
      - POSTGRESQL_VERSION
      - PYTHON_VERSION
      - SERVICE_NAME
      - TRANSIENT_AGE_LIMIT
      - VSCODE_DIRECT_DOWNLOAD_URL
      - WKHTMLTOPDF_DIRECT_DOWNLOAD_URL
      - WORKERS
    env_file:
      - .env
    secrets:
      - db_user
      - db_password
    restart: always

secrets:
  db_user:
    file: .secrets/db_user
  db_password:
    file: .secrets/db_password
