# Category: Config
# File: odools.toml.example
# Description: Configuration for odools utility.
# Usage: Copy to odools.toml and customize.
# Maintainer: ryumada

[[config]]
name = "Docker-Odoo"
file_cache = false
"$version" = "18.0"
odoo_path = "./odoo-base/enter_odoo_base_repo"
addons_paths = ["./git/enter_odoo_addons_git/custom_addons", "./git/enter_odoo_addons_git/external_addons"]
