#!/bin/bash

# --- Logging Functions & Colors ---
# Define colors for log messages
readonly COLOR_RESET="\033[0m"
readonly COLOR_INFO="\033[0;34m"
readonly COLOR_SUCCESS="\033[0;32m"
readonly COLOR_WARN="\033[0;33m"
readonly COLOR_ERROR="\033[0;31m"

# Function to log messages with a specific color and emoji
log() {
  local color="$1"
  local emoji="$2"
  local message="$3"
  echo -e "${color}[$(date +"%Y-%m-%d %H:%M:%S")] ${emoji} ${message}${COLOR_RESET}"
}

log_info() { log "${COLOR_INFO}" "ℹ️" "$1"; }
log_success() { log "${COLOR_SUCCESS}" "✅" "$1"; }
log_warn() { log "${COLOR_WARN}" "⚠️" "$1"; }
log_error() { log "${COLOR_ERROR}" "❌" "$1"; }
# ------------------------------------

CURRENT_DIR=$(dirname "$(readlink -f "$0")")
CURRENT_DIR_USER=$(stat -c '%U' "$CURRENT_DIR")
PATH_TO_ODOO=$(sudo -u "$CURRENT_DIR_USER" git -C "$(dirname "$(readlink -f "$0")")" rev-parse --show-toplevel)
SERVICE_NAME=$(basename "$PATH_TO_ODOO")

## ex. odoo-prd (replace with production database name or use read command to input the database name)
## Use only one of this command below
ODOO_DATABASE_NAME_PRD=$(grep "^DB_NAME=" "$PATH_TO_ODOO/.env" | cut -d "=" -f 2 | sed 's/^[[:space:]\n]*//g' | sed 's/[[:space:]\n]*$//g')

if [ -z "$ODOO_DATABASE_NAME_PRD" ]; then
  log_warn "Database name not found in .env"
  read -rp "Enter the database name: " ODOO_DATABASE_NAME_PRD
fi

ODOO_FILESTORE_PATH="/var/lib/odoo/$SERVICE_NAME/filestore/$ODOO_DATABASE_NAME_PRD"

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# DON'T change these codes below
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
ZIP_FILE_NAME=backupdata-$SERVICE_NAME.zip

log_info "Start backup data for $SERVICE_NAME"

# Check for zip utility
if ! command -v zip &> /dev/null; then
  log_error "zip command could not be found. Please install zip first."
  echo "For Ubuntu: sudo apt install zip"
  echo "For CentOS: sudo yum install zip"
  exit 1
fi

# Check for root
if [ "$(id -u)" -ne 0 ]; then
  log_error "Please run this script as root or using sudo"
  exit 1
fi

log_info "Change Directory to $PATH_TO_ODOO"
cd "$PATH_TO_ODOO" > /dev/null 2>&1 || { log_error "Can't change directory to $PATH_TO_ODOO"; exit 1; }

log_info "Create temporary directory"
mkdir -p "/tmp/backupdata-$SERVICE_NAME" > /dev/null 2>&1 || { log_warn "/tmp/backupdata-$SERVICE_NAME may already exist."; true; }

log_info "Backup database $ODOO_DATABASE_NAME_PRD"
sudo -u postgres pg_dump -f "/tmp/dump.sql" "$ODOO_DATABASE_NAME_PRD" > /dev/null 2>&1 || { log_error "Error backup database $ODOO_DATABASE_NAME_PRD"; exit 1; }
mv /tmp/dump.sql "/tmp/backupdata-$SERVICE_NAME/dump.sql" > /dev/null 2>&1 || { log_error "Error moving dump.sql to /tmp/backupdata-$SERVICE_NAME"; exit 1; }

log_info "Copy filestore files to temporary directory"
cp -r "$ODOO_FILESTORE_PATH" "/tmp/backupdata-$SERVICE_NAME/filestore" > /dev/null 2>&1 || { log_error "Error copying filestore to /tmp/backupdata-$SERVICE_NAME"; exit 1; }

if [ -f "git/git_hashes.txt" ]; then
  log_info "Copy git_hashes.txt to temporary directory"
  cp -r git/git_hashes.txt "/tmp/backupdata-$SERVICE_NAME/git_hashes.txt" > /dev/null 2>&1 || { log_error "Error copying git_hashes.txt to /tmp/backupdata-$SERVICE_NAME"; exit 1; }
fi

if [ -f "odoo-base/git_hashes.txt" ]; then
  log_info "Copy odoo-base/git_hashes.txt to temporary directory"
  cp -r odoo-base/git_hashes.txt "/tmp/backupdata-$SERVICE_NAME/odoo-base_git_hashes.txt" > /dev/null 2>&1 || { log_error "Error copying odoo-base/git_hashes.txt to /tmp/backupdata-$SERVICE_NAME"; exit 1; }
fi

log_info "Change Directory to /tmp/backupdata-$SERVICE_NAME"
cd "/tmp/backupdata-$SERVICE_NAME" > /dev/null 2>&1 || { log_error "Can't change directory to /tmp/backupdata-$SERVICE_NAME"; exit 1; }

log_info "Compress all files to $ZIP_FILE_NAME"
zip -r "/tmp/$ZIP_FILE_NAME" ./dump.sql filestore ./git_hashes.txt ./odoo-base_git_hashes.txt > /dev/null 2>&1 || { log_error "Error compressing files to /tmp/$ZIP_FILE_NAME"; exit 1; }
chown "$SUDO_USER":"$SUDO_USER" "/tmp/$ZIP_FILE_NAME"

log_info "Remove temporary directory"
rm -rf "/tmp/backupdata-$SERVICE_NAME"

log_success "Backup data for $SERVICE_NAME is completed. The backup file is located at /tmp/$ZIP_FILE_NAME."
exit 0
