#!/bin/bash

# Press ctrl + F then type enter to see the highlight of variables should be added

PATH_TO_ODOO=$(git -C "$(dirname "$(readlink -f "$0")")" rev-parse --show-toplevel)
SERVICE_NAME=$(basename "$PATH_TO_ODOO")

## ex. odoo-prd (replace with production database name or use read command to input the database name)
## Use only one of this command below
ODOO_DATABASE_NAME_PRD=enter_production_database_name
# read -p "Enter the database name: " ODOO_DATABASE_NAME_PRD

## Make sure that the datadir location is correct (enter the correct one)
ODOO_FILESTORE_PATH="/var/lib/odoo/$SERVICE_NAME/filestore/$ODOO_DATABASE_NAME_PRD"

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# DON'T change these codes below
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# DATE_FOR_FILENAME="$(date +"%Y%m%d-%H%M%S")"
# DATE_FOR_MESSAGE=$(date +"%Y-%m-%d %H:%M:%S")
ZIP_FILE_NAME=backupdata-$SERVICE_NAME.zip

function getDate() {
  echo "[$(date +"%Y-%m-%d %H:%M:%S")]"
}

echo "$(getDate) 🔵 Start backup data for $SERVICE_NAME"

if ! command -v zip &> /dev/null; then
  echo "$(getDate) 🔴 zip command could not be found. Please install zip first."
  echo "For Ubuntu: sudo apt install zip"
  echo "For CentOS: sudo yum install zip"
  exit 1
fi

if [ "$(id -u)" -ne 0 ]; then
  echo "$(getDate) 🔴 Please run this script as root or using sudo"
  exit 1
fi

echo "$(getDate) Change Directory to $PATH_TO_ODOO"
cd "$PATH_TO_ODOO" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Can't change directory to $PATH_TO_ODOO"; exit 1; }

echo "$(getDate) Create temporary directory"
mkdir -p "/tmp/backupdata-$SERVICE_NAME" > /dev/null 2>&1 || { echo "$(getDate) 🔴 /tmp/backupdata-$SERVICE_NAME may be exist."; true; }

echo "$(getDate) Backup database $ODOO_DATABASE_NAME_PRD"
sudo -u postgres pg_dump -f "/tmp/dump.sql" "$ODOO_DATABASE_NAME_PRD" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error backup database $ODOO_DATABASE_NAME_PRD"; exit 1; }
mv /tmp/dump.sql "/tmp/backupdata-$SERVICE_NAME/dump.sql" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error moving dump.sql to /tmp/backupdata-$SERVICE_NAME"; exit 1; }

echo "$(getDate) Copy filestore files to temporary directory"
cp -r "$ODOO_FILESTORE_PATH" "/tmp/backupdata-$SERVICE_NAME/filestore" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error copying filestore to /tmp/backupdata-$SERVICE_NAME"; exit 1; }

if [ -f "git/git_hashes.txt" ]; then
  echo "$(getDate) Copy git_hashes.txt to temporary directory"
  cp -r git/git_hashes.txt "/tmp/backupdata-$SERVICE_NAME/git_hashes.txt" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error copying git_hashes.txt to /tmp/backupdata-$SERVICE_NAME"; exit 1; }
fi

if [ -f "odoo-base/git_hashes.txt" ]; then
  echo "$(getDate) Copy odoo-base/git_hashes.txt to temporary directory"
  cp -r odoo-base/git_hashes.txt "/tmp/backupdata-$SERVICE_NAME/odoo-base_git_hashes.txt" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error copying odoo-base/git_hashes.txt to /tmp/backupdata-$SERVICE_NAME"; exit 1; }
fi

echo "$(getDate) Change Directory to /tmp/backupdata-$SERVICE_NAME"
cd "/tmp/backupdata-$SERVICE_NAME" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Can't change directory to /tmp/backupdata-$SERVICE_NAME"; exit 1; }

echo "$(getDate) Compress all files to $ZIP_FILE_NAME"
zip -r "/tmp/$ZIP_FILE_NAME" ./dump.sql filestore ./git_hashes.txt ./odoo-base_git_hashes.txt > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error compressing files to /tmp/$ZIP_FILE_NAME"; exit 1; }
chown "$SUDO_USER":"$SUDO_USER" "/tmp/$ZIP_FILE_NAME"

echo "$(getDate) Remove temporary directory"
rm -rf "/tmp/backupdata-$SERVICE_NAME"

echo "$(getDate) 🟢 Backup data for $SERVICE_NAME is completed. The backup file is located at /tmp/$ZIP_FILE_NAME."
