#!/bin/bash

# Press ctrl + F then type enter to see the highlight of variables should be added

## ex. odoo-prd (replace with production database name)
ODOO_DATABASE_NAME_PRD=enter_production_database_name
# read -p "Enter the database name: " ODOO_DATABASE_NAME_PRD

# # # # # # # # # # # # # # # # # # # # # # # # # #
# Don't change anything below this line
# # # # # # # # # # # # # # # # # # # # # # # # # #

CURRENT_DIR=$(dirname "$(readlink -f "$0")")
CURRENT_DIR_USER=$(stat -c '%U' "$CURRENT_DIR")
PATH_TO_ODOO=$(sudo -u "$CURRENT_DIR_USER" git -C "$(dirname "$(readlink -f "$0")")" rev-parse --show-toplevel)
SERVICE_NAME=$(basename "$PATH_TO_ODOO")

function getDate() {
  echo "[$(date +"%Y-%m-%d %H:%M:%S")]"
}

if [ "$(id -u)" -ne 0 ]; then
  echo "$(getDate) 🔴 Please run this script using sudo"
  exit 1
fi

# You need to choose whether there are multiple environments for your deployment
read -rp "Which environment you wish to clone the data to?
[1] Development (dev)
[2] Staging (stg)
[3] Testing (tst)
[4] Other

Enter the number 1 - 4: " ODOO_DEPLOYMENT_ENVIRONMENT

# You need to choose whether there are multiple environments for your deployment
case $ODOO_DEPLOYMENT_ENVIRONMENT in
  1)
    ODOO_DEPLOYMENT_ENVIRONMENT=dev
    ;;
  2)
    ODOO_DEPLOYMENT_ENVIRONMENT=stg
    ;;
  3)
    ODOO_DEPLOYMENT_ENVIRONMENT=tst
    ;;
  4)
    read -rp "Enter the environment name: " ODOO_DEPLOYMENT_ENVIRONMENT
    ;;
  *)
    echo "$(getDate) 🔴 Invalid option"
    exit 1
    ;;
esac

if [ ! -d "$PATH_TO_ODOO/../$SERVICE_NAME-$ODOO_DEPLOYMENT_ENVIRONMENT" ]; then
  echo "$(getDate) 🔴 The deployment environment $SERVICE_NAME-$ODOO_DEPLOYMENT_ENVIRONMENT does not exist"
  exit 1
fi

read -rp "Do you want to use date suffix for the new database name? [Y/n]: " USE_DATE_SUFFIX

ODOO_DB_NAME_ENV=""
if [ "$USE_DATE_SUFFIX" == "Y" ] || [ "$USE_DATE_SUFFIX" == "y" ]; then
  ODOO_DB_NAME_ENV="$ODOO_DATABASE_NAME_PRD-$ODOO_DEPLOYMENT_ENVIRONMENT-$(date +"%Y%m%d_%H%M")"
elif [ "$USE_DATE_SUFFIX" == "N" ] || [ "$USE_DATE_SUFFIX" == "n" ]; then
  ODOO_DB_NAME_ENV="$ODOO_DATABASE_NAME_PRD-$ODOO_DEPLOYMENT_ENVIRONMENT"
else
  echo "$(getDate) 🔴 Invalid option"
  exit 1
fi

ODOO_FILESTORE_PATH_PRD="/var/lib/odoo/$SERVICE_NAME/filestore/$ODOO_DATABASE_NAME_PRD"
ODOO_FILESTORE_PATH_ENV="/var/lib/odoo/$SERVICE_NAME-$ODOO_DEPLOYMENT_ENVIRONMENT/filestore/$ODOO_DB_NAME_ENV"

# ODOO_DB_USER_PRD=$(cat ./secrets/db_user)
ODOO_DB_USER_ENV=$(cat "$PATH_TO_ODOO/../$SERVICE_NAME-$ODOO_DEPLOYMENT_ENVIRONMENT/.secrets/db_user")

function main() {
  echo "$(getDate) Change Directory to $PATH_TO_ODOO"
  cd "$PATH_TO_ODOO" || { echo "$(getDate) 🔴 Can't change directory to $PATH_TO_ODOO"; exit 1; }

  echo "$(getDate) 🔵 Start cloning database from $ODOO_DATABASE_NAME_PRD to $ODOO_DB_NAME_ENV"
  
  echo "$(getDate) 🥟 Dump $ODOO_DATABASE_NAME_PRD to temporary file"
  sudo -u postgres pg_dump -d "$ODOO_DATABASE_NAME_PRD" -f "/tmp/$ODOO_DB_NAME_ENV.sql" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error dumping $ODOO_DATABASE_NAME_PRD"; exit 1; }

  if [ -d "$ODOO_FILESTORE_PATH_ENV" ]; then
    echo "$(getDate) 🧹 Remove the old filestore of $ODOO_DB_NAME_ENV"
    rm -rf "$ODOO_FILESTORE_PATH_ENV"
  fi
  
  echo "$(getDate) 📄 Copy the filestore to the $ODOO_DEPLOYMENT_ENVIRONMENT environment"
  mkdir "$ODOO_FILESTORE_PATH_ENV" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error creating $ODOO_FILESTORE_PATH_ENV. Maybe the directory exist."; }
  cp -r "$ODOO_FILESTORE_PATH_PRD"/* "$ODOO_FILESTORE_PATH_ENV"

  echo "$(getDate) 👤 Change owner of $ODOO_FILESTORE_PATH_ENV to odoo"
  chown -R odoo: "$ODOO_FILESTORE_PATH_ENV"
  
  if [ "$ODOO_DB_NAME_ENV" == "$ODOO_DATABASE_NAME_PRD-$ODOO_DEPLOYMENT_ENVIRONMENT" ]; then
    echo "$(getDate) 🛑 Stop the $ODOO_DEPLOYMENT_ENVIRONMENT environment"
    docker compose stop > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error stopping $ODOO_DEPLOYMENT_ENVIRONMENT"; exit 1; }
  
    echo "$(getDate) 🗑️ Drop the old database $ODOO_DB_NAME_ENV"
    sudo -u postgres psql -d postgres -c "DROP DATABASE \"$ODOO_DB_NAME_ENV\"" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error dropping database: $(cat /dev/stderr)"; exit 1; }
  fi

  echo "$(getDate) 🥢 Create new database $ODOO_DB_NAME_ENV"
  sudo -u postgres psql -d postgres -c "CREATE DATABASE \"$ODOO_DB_NAME_ENV\"" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error creating $ODOO_DB_NAME_ENV"; exit 1; }

  echo "$(getDate) 🥢 Restore $ODOO_DB_NAME_ENV from $ODOO_DATABASE_NAME_PRD"
  sudo -u postgres psql -d "$ODOO_DB_NAME_ENV" -f "/tmp/$ODOO_DB_NAME_ENV.sql" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error restoring $ODOO_DB_NAME_ENV"; exit 1; }
  rm "/tmp/$ODOO_DB_NAME_ENV.sql"

  echo "$(getDate) 🧹 Change owner of $ODOO_DB_NAME_ENV to $ODOO_DB_USER_ENV"
  sudo -u postgres psql -d postgres -c "ALTER DATABASE \"$ODOO_DB_NAME_ENV\" OWNER TO \"$ODOO_DB_USER_ENV\"" > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error changing owner of $ODOO_DB_NAME_ENV"; exit 1; }
  sudo -u postgres psql -d "$ODOO_DB_NAME_ENV" -c "
    -- Change the owner of all tables
    DO \$\$
    DECLARE
        rec RECORD;
    BEGIN
        FOR rec IN (SELECT tablename FROM pg_tables WHERE schemaname = 'public') LOOP
            EXECUTE 'ALTER TABLE ' || quote_ident(rec.tablename) || ' OWNER TO \"${ODOO_DB_USER_ENV}\"';
        END LOOP;
    END \$\$;

    -- Change the owner of all sequences
    DO \$\$
    DECLARE
        rec RECORD;
    BEGIN
        FOR rec IN (SELECT sequence_name FROM information_schema.sequences WHERE sequence_schema = 'public') LOOP
            EXECUTE 'ALTER SEQUENCE ' || quote_ident(rec.sequence_name) || ' OWNER TO \"${ODOO_DB_USER_ENV}\"';
        END LOOP;
    END \$\$;

    -- Change the owner of all views
    DO \$\$
    DECLARE
        rec RECORD;
    BEGIN
        FOR rec IN (SELECT table_name FROM information_schema.views WHERE table_schema = 'public') LOOP
            EXECUTE 'ALTER VIEW ' || quote_ident(rec.table_name) || ' OWNER TO \"${ODOO_DB_USER_ENV}\"';
        END LOOP;
    END \$\$;
  " > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error changing owner of $ODOO_DB_NAME_ENV"; exit 1; }

  echo "$(getDate) 🟢 Restart the $ODOO_DEPLOYMENT_ENVIRONMENT environment"
  docker compose restart > /dev/null 2>&1 || { echo "$(getDate) 🔴 Error restarting $ODOO_DEPLOYMENT_ENVIRONMENT"; exit 1; }

  echo "$(getDate) ✅ Finish cloning database $ODOO_DB_NAME_ENV from $ODOO_DATABASE_NAME_PRD"
}

main
